<!DOCTYPE html>
<html ng-app="questApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>


<script>
var questApp = angular.module('questApp', []);
questApp.controller('AnswerController', 
    function AnswerController($scope){
	
$("input").blur(function(eventObject) {
	var inp=eventObject.target.id;
	if($scope.person[inp]===undefined)
		{
			changeColor(inp,"red");
		}
	else
		changeColor(inp,"green");
});

		$scope.res="";
        $scope.save = function (person, resultForm){		
            if(resultForm.$valid==true)
			{
				$scope.res='<?xml version="1.0" encoding="utf-8"?>'+'\n';
				$scope.res+='<ЗАПРОС_СВЕДЕНИЙ_О_СТРАХОВОМ_СТАЖЕ>'+'\n';
				$scope.res+='<Фамилия>'+person.surname+'</Фамилия>'+'\n';
				$scope.res+='<Имя>'+person.name+'</Имя>'+'\n';
				if(person.patronymic!="")
					$scope.res+='<Отчество>'+person.patronymic+'</Отчество>'+'\n';
				$scope.res+='<СНИЛС>'+person.SNILS+'</СНИЛС>'+'\n';
				$scope.res+='<ДатаРождения>'+person.DateofBirth+'</ДатаРождения>'+'\n';
				$scope.res+='<НаличиеДанных>'+person.DataAvailability+'</НаличиеДанных>'+'\n';
				$scope.res+='<ОбщаяПродолжительностьСтраховогоСтажаНаДатуОбращенияГражданинаВОСЗ>'+'\n';
				$scope.res+='<ОбщаяПродолжительностьСтраховогоСтажаЛет>'+person.year+'</ОбщаяПродолжительностьСтраховогоСтажаЛет>'+'\n';
				$scope.res+='<ОбщаяПродолжительностьСтраховогоСтажаМесяцев>'+person.month+'</ОбщаяПродолжительностьСтраховогоСтажаМесяцев>'+'\n';
				$scope.res+='<ОбщаяПродолжительностьСтраховогоСтажаДней>'+person.day+'</ОбщаяПродолжительностьСтраховогоСтажаДней>'+'\n';
				$scope.res+='</ОбщаяПродолжительностьСтраховогоСтажаНаДатуОбращенияГражданинаВОСЗ>';
            }
        };
});
function changeColor(elem,color)
{
	$("#" + elem).css("border-color",color);
}

  // execute your scripts when the DOM is ready. this is a good habit
  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#DateofBirth").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 10],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
	   $("#SNILS").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 10],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });

</script>
</head>
<body ng-controller="AnswerController">
<form name="resultForm">
<ul id="inputs">
<p class="headers">Форма запроса</p>
<li>Фамилия
<input type="text" id="surname" ng-model="person.surname" required ng-minlength=1 ng-maxlength=40 ></li>
<li>Имя
<input type="text" id="name" ng-model="person.name" required ng-minlength=1 ng-maxlength=40></li>
<li>Отчество
<input type="text" id="patronymic" ng-model="person.patronymic" ng-maxlength=40></li>
<li>СНИЛС
<input type="text" id="SNILS" ng-model="person.SNILS" required ng-pattern="/^\d{3}-\d{3}-\d{3} \d{2}$/" title="Введите страховой номер 
индивидуального лицевого счёта в формате ццц-ццц-ццц цц " ></li>
<li>Дата рождения
<input type="text" id="DateofBirth" ng-model="person.DateofBirth" required ng-pattern="/^\d{2}.\d{2}.\d{4}$/" title="Введите дату рождения в формате цц.цц.цццц" >
</li>
<li>Наличие данных
<select ng-model="person.DataAvailability" required>
<option value="ДА" >ДА</option>
<option value="НЕТ">НЕТ</option>
</select></li>
<p class="headers">Общая продолжительность страхового стажа на дату обращения гражданина</p>
<li>Общая продолжительность страхового стажа лет
<input type="number" id="year" ng-model="person.year" required min=0 max=999></li>
<li>Общая продолжительность страхового стажа месяцев
<input type="number" id="month" ng-model="person.month" required min=0 max=99></li>
<li>Общая продолжительность страхового стажа дней
<input type="number" id="day" ng-model="person.day" required min=0 max=99></li>
<button class="btn" ng-click="save(person, resultForm)">Сохранить</button>
<p class="headers">Итоговый запрос</p>
<table>
  <tr>
  <col width="500px">
    <td>Запрос</td> 
	<td><textarea name="Запрос">{{res}}</textarea></td>
  </tr>
</table>
</form>
</body>
</html>
